<h1><%= @note.title %></h1>
<p><%= @note.content %></p>
<%= link_to "Edit", edit_note_path(@note) %>
<%= link_to "Delete this note",
  note_path(@note),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
